<% include ../partials/header %>

<% if(rs.length > 0) { %>
<h1><span class=rainbow> Item Info </span></h1>

<div class="rainbow"><p>
        Item Title: <%= rs[0].title %> </br>
        Unit Cost: <%= rs[0].unitCost %> </br>
        Current Quantity in Stock: <%= rs[0].qty %> </br>
        Processing Department: <%= rs[0].dept_title %>
    </p> </div>








<% } else { %>
No account matched this item id <%= item_id %>.
<% } %>

<% include ../partials/footer %>